@charset "urf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
*{
    margin: 0px;
    padding: 0px;
}
/*
paletas de cores do mais fraco para o mais escuro/paleta monocromatica.
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/
/* abaixo esta criando as variaveis*/
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-androide: 'android', cursive;

}
body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
header{
    background-image: linear-gradient(to bottom, var(--cor3),var(--cor5));
    min-height: 150px;
    text-align: center;
}

header > h1{
    color: #fff;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
header > p{
    color: #fff;
    font-family: var(--fonte-padrao);
    font-size: 1,2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);
}
nav > a{
    color: #ffffff;
    border-radius: 5px;
    padding: 3px;
    text-decoration: none;
    transition-duration: .5s;
}
nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}
main{
   background-color: #fff;
   max-width: 800px; 
   margin: auto;
   padding: 20px;
}

main h1{
    color: var(--cor5);
    font-family: var(--fonte-androide);
}
main h2{
    font-family: var(--fonte-androide);
}
footer{
    background-color: var(--cor5);
    color: #fff;
}
iframe{
    width: 100%;
}
main img{
    width: 100%;
}
