*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #3DDC84;
}

header{
    background-color: #1b682e;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;        
}
header > h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    
}
header > h2{
    text-align: center;
    font-size: 15px;
    margin: 10px;
    padding-top: 9px;
    padding-bottom: 30px;

}
nav{
     margin-top: 5px;
}
nav > ul > li > a{
    text-decoration: none;
    color:#fff;
}
nav > ul > li > a:hover{
    background-color: #092510a4;
}
nav > ul> li{
         display: inline-block;
         padding: 2px;
}